<div ng-controller="CtrlUpdateImageInformation">

    <h2>Upload</h2>

    <h1>Ein Test Upload</h1>


    <!--<img ng-src="" id="imageBox" />
        
        
        
        <script>
            var tempID = sessionStorage.getItem("ID");
            var tempFileName = sessionStorage.getItem("FileName");
            console.log(tempID);
            console.log(tempFileName);


            document.getElementById('imageBox').src = "uploads/" + tempID + "/" + tempFileName;
        </script>
-->
    <li ng-repeat="upload in image">
        <a ng-href='{{upload.file.path + "/" + upload.file.originalname}}'>{{upload.file.originalname}}</a></br>
            <a href="#/uploads/update/{{upload.file.filename}}/{{upload.file.originalname}}">Update</a></br>
            <img ng-src='{{upload.file.path + "/" + upload.file.originalname}}' />
            
    </li>


    <form ng-submit="submit()">
        <legend>Upload a new file here:</legend>


        <label for="artist">artist:</label>
        <input type="text" name="artist" id="artist" ng-model="upload.tags.imageInformation.artist" />
        <br/>

        <label for="publishingYear">publishingYear:</label>
        <input type="text" name="publishingYear" id="publishingYear" class="demo-default" ng-model="upload.tags.imageInformation.publishingYear"
        />
        <br/>

        <label for="publishingLocation">publishingLocation:</label>
        <input type="text" name="publishingLocation" id="publishingLocation" ng-model="upload.tags.imageInformation.publishingLocation"
        />
        <br/>


        <label for="medium">medium:</label>
        <input type="text" name="medium" id="medium" ng-model="upload.tags.imageInformation.medium" />
        <br/>



        <label for="form">form (digital analogue):</label>
        <input type="text" name="form" id="form" ng-model="upload.tags.imageInformation.form" />
        <br/>


        <input type="submit" value="Submit" />
    </form>
</div>

<!--<a href="#/viewAll">View All</a></br>
<a href="#/viewSessions">View Sessions by</a></br>-->
<a href="#/formImageDes">Next</a></br>
