<div ng-controller="CtrlUpdatePersonalRelation">

    <h2>Upload</h2>
    <form ng-submit="submit()">
        <legend>Upload a new file here:</legend>
        
        <label for="source">source:</label>
        <input type="text" name="source" id="source" ng-model="upload.tags.personalRelation.source" />
        <br/>

        <label for="placeFoundFirst">placeFoundFirst (where did you find it? Where did you retrieve it?):</label>
        <input type="text" name="placeFoundFirst" id="placeFoundFirst" class="demo-default" ng-model="upload.tags.personalRelation.placeFoundFirst" />
        <br/>

        <label for="dateFoundFirst">dateFoundFirst (where did you find it the first time):</label>
        <input type="text" name="dateFoundFirst" id="dateFoundFirst" ng-model="upload.tags.personalRelation.dateFoundFirst" />
        <br/>


        <label for="time">time (when did you find it the first time?):</label>
        <input type="text" name="time" id="time" ng-model="upload.tags.personalRelation.time" />
        <br/>

        <input type="submit" value="Submit" />
    </form>
</div>

<a href="#/viewAll">View All</a></br>
<a href="#/viewSessions">View Sessions by</a></br>