<div ng-controller="formCtrlUpdate" id="example-form" action="#">
    <h2>Update</h2>
    <ul>
        <li ng-repeat="upload in image">
            <!--<h2>Upload By</h2>
            <p>{{upload.name}}</p>
            <h2>CreatorArtist</h2>
            <p>{{upload.tags.CreatorArtist}}</p>
            <h2>TAGS</h2>
            <p>{{upload.tags}}</p>
            <h2>All</h2>
            <p>{{upload}}</p>-->

            <a ng-href='{{upload.file.path + "/" + upload.file.originalname}}'>{{upload.file.originalname}}</a></br>
            <img ng-src='{{upload.file.path + "/" + upload.file.originalname}}' />

            <a </li>
                <form ng-submit="submit()">
                    <legend>Upload a new file here:</legend>
                    <label for="name">Name:</label>
                    <input type="text" name="name" id="name" ng-model="upload.name" required/>
                    <br/>

                    <label for="CreatorArtist">Artist:</label>
                    <input type="text" name="CreatorArtist" id="CreatorArtist" class="demo-default" ng-model="upload.tags.CreatorArtist" required/>
                    <br/>

                    <label for="info">Image Description:</label>
                    <input type="text" name="info" id="info" ng-model="upload.tags.info" required/>
                    <br/>

                    <input type="submit" value="Submit" />

                </form>
    </ul>
</div>