<div ng-controller="formCtrl">

    <h2>Upload</h2>

    <h1>Ein Test Upload</h1>
    <form ng-submit="submit()">
        <legend>Upload a new file here:</legend>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" ng-model="upload.name" required/>
        <br/>

        <label for="CreatorArtist">Artist:</label>
        <input type="text" name="CreatorArtist" id="CreatorArtist" class="demo-default" ng-model="upload.tags.CreatorArtist" required/>
        <br/>

        <label for="info">Image Description:</label>
        <input type="text" name="info" id="info" ng-model="upload.tags.info" required/>
        <br/>


        <label for="file">File:</label>
        <input type="file" class="imgInp" name="file" id="file" ng-model="upload.file" ngf-select ngf-max-size="25MB" required/>
        <br/>
        <input type="submit" value="Submit" />
    </form>
</div>

<a href="#/viewAll">View All</a></br>
<a href="#/viewSessions">View Sessions by</a></br>