<div ng-controller="CtrlTopic" id="example-form" action="#">
    <h2>All topics are here:</h2>
    <ul>         UNDER CONSTRUCTION
        <li ng-repeat="upload in topics">
          
            <!--<a ng-href='{{upload.file.path + "/" + upload.file.originalname}}'>{{upload.file.originalname}}</a></br>
            <a href="#/uploads/image/{{upload.file.filename}}/{{upload.file.originalname}}">Info to images</a></br>
            <img ng-src='{{upload.file.path + "/" + upload.file.originalname}}' />-->
            <p>{{upload}}</p>
   
            <!--<a href="#/uploads/{{upload}}">{{upload}}</a></br>-->

            </li>
    </ul>

</div>