<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>File Upload Example</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/jquery.steps.css">

    <script src="/vendor/angular.min.js"></script>
    <script src="/vendor/ng-file-upload-all.min.js"></script>
    <script src="/vendor/angular-resource.js"></script>
    <script src="/vendor/angular-route.min.js"></script>
    <script src="/javascripts/fileUpload.js"></script>
    <!--<script src="/javascripts/fileUpload.config.js"></script>

    <script src="/javascripts/author-detail.module.js"></script>
    <script src="/javascripts/author-detail.component.js"></script>-->
</head>

<body ng-app="fileUpload">
    <div ng-controller="formCtrl" id="example-form" action="#">
        <h2>All uploads are here:</h2>
        <ul>
            <li ng-repeat="upload in all">
                <!--<p>{{upload.file.path}}</p>
                <p>{{upload.name}}</p>-->
                <h3>partner</h3>
                <p>{{upload.name}}</p>
                <h3>tags</h3>
                <p>{{upload.tags}}</p>
                <a ng-href='{{upload.file.path + "/" + upload.file.originalname}}'>{{upload.file.originalname}}</a></br>
                <img ng-src='{{upload.file.path + "/" + upload.file.originalname}}' />
                <a </li>
        </ul>
    </div>
</body>

</html>