<body ng-app="fileUpload">
    <div ng-controller="CtrlUpload" id="example-form" action="#">
        <h2>All uploads are here:</h2>
        <ul>
            <li ng-repeat="upload in all">
                <!--<p>{{upload.file.path}}</p>
                <p>{{upload.name}}</p>-->
                <!--<h3>partner</h3>
                <p>{{upload.sessionName}}</p>
                <h3>tags</h3>
                <p>{{upload.tags}}</p>
                <a ng-href='{{upload.file.path + "/" + upload.file.originalname}}'>{{upload.file.originalname}}</a></br>-->
                <img ng-src='{{upload.file.path + "/" + upload.file.originalname}}' />
            </li>
        </ul>
    </div>
</body>

</html>